<html>
    <body style="background-color: green; color:white;">

            <h1>Formulario de adopcion</h1>

            <div class="alert alert-success">
                Su formulario ha sido recibido
            </div>

    </body>
</html>
