@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-area="" asp-controller="Home" asp-action="Contacto">Contacto</a></p>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Mauricio Ortega Saenz
        </div>
    </footer>
</div>
 